body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('https://images.immediate.co.uk/production/volatile/sites/3/2016/08/115819.jpg?quality=90&resize=561%2C374');
  background-repeat: no-repeat;
  background-size: cover;
}

#quote {
  display: flex;
  height: 5em;
  width: 25em;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 1, 0.2);
  margin-top: 18em;
color:white;
}

h1{
  text-align:center;
}
